.panel.game-over-panel {
    --panel-surface: var(--uno-modal-surface-inner);
    --panel-surface-light: var(--uno-modal-surface-inner-light);

    --panel-sheen-opacity: 0.03;

    --panel-bottom-edge-color: transparent;
    border-bottom: 1px solid rgb(255 255 255 / 0.1);

    position: relative;
}

.panel.game-over-panel::before {
    content: "";
    position: absolute;
    left: 20px;
    right: 20px;
    bottom: -1px;
    height: 1px;
    background: var(--uno-game-rainbow-border);
}

.game-over-panel {
    padding-inline: var(--space-xl);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.game-over-header {
    position: relative;
    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--space-sm);
    padding: var(--space-lg);
}

.game-over-header::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 5px;
    right: 5px;
    height: 1px;
    background: linear-gradient(90deg, transparent, var(--uno-accent-extra-light), transparent);
}

.game-over-icon-wrapper {
    width: 80px;
    height: 80px;
    flex-shrink: 0;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid color-mix(in srgb, var(--uno-accent) 50%, black);

    background: linear-gradient(to bottom, var(--uno-accent-light), var(--uno-accent));
    box-shadow: inset 0 1px 0 rgb(255 255 255 / 0.25),
    inset 0 -5px 30px rgb(0 0 0 / 0.4),
    inset 0 -1px 0 rgb(0 0 0 / 0.15),
    0 4px 12px rgb(0 0 0 / 0.20);
}

.game-over-icon {
    width: 40px;
    height: 40px;
    stroke-width: 1.5;
}

.game-over-title {
    background: linear-gradient(180deg, white, transparent 100%),
    linear-gradient(180deg, var(--uno-accent-light), var(--uno-background-surface-light));

    background-clip: text;
    color: transparent;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    filter: drop-shadow(0 4px 16px rgb(0 0 0 / .25));

    font-size: var(--font-size-xl);
    font-weight: var(--font-weight-bold);
    letter-spacing: 0.04em;
    white-space: nowrap;
}

.game-over-winner {
    color: var(--color-text-muted);
    font-size: var(--font-size-md);
    font-weight: var(--font-weight-medium);
    text-transform: uppercase;
    letter-spacing: 0.04em;
    white-space: nowrap;
}

.game-over-winner-name {
    color: var(--uno-accent-extra-light);
}

.game-over-actions {
    display: flex;
    flex-direction: column;
    gap: var(--space-sm);
    padding: var(--space-lg);
}

.game-menu-button {
}

.game-over-actions a {
    text-align: center;
}
