.desktop-nav-menu {
    z-index: 100;
    position: absolute;
    right: 10px;
    min-width: 420px;
    max-height: calc(100dvh - (var(--space-xl) * 2));
    padding: var(--space-md);
    overflow: hidden;
    overflow-y: auto;

    background-color: var(--color-surface);
    border-radius: var(--radius-md);
    box-shadow: var(--surface-card);
    opacity: 0;

    display: flex;
    pointer-events: none;
    flex-direction: column;
    gap: var(--space-sm);

    overscroll-behavior: contain;
    scrollbar-width: thin;
    scrollbar-color: var(--color-border) transparent;
    transition: opacity 0.3s ease-in-out;
}

.desktop-nav-divider {
    flex-shrink: 0;
    width: 100%;
    height: 1px;

    background-color: var(--color-border);
}

.desktop-nav-section {
    display: flex;
    flex-direction: column;
}

.desktop-nav-menu.is-open {
    opacity: 1;
    pointer-events: auto;
}

.desktop-nav-section-button {
    all: unset;
    width: 100%;

    display: block;

    cursor: pointer;
}

.desktop-nav-submenu {
    position: relative;
    min-height: 0;
    max-height: 0;
    padding: 0 var(--space-md);
    overflow: hidden;

    background: var(--color-subsurface);
    border-radius: var(--radius-md);

    display: flex;
    flex-direction: column;

    transition: max-height 0.3s ease-in-out;
}

.desktop-nav-submenu.is-open {
    max-height: 1000px;
}

.desktop-nav-submenu::before {
    content: "";
    position: absolute;
    inset: 0;

    border: 1px solid var(--color-border);
    border-radius: var(--radius-md);
    opacity: 0;

    transition: opacity 0.6s ease-in-out;
}

.desktop-nav-submenu.is-open::before {
    opacity: 1;
}

.desktop-nav-submenu > li {
    position: relative;
}

.desktop-nav-submenu > li:not(:last-child)::after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 1px;

    background-color: var(--color-border);
}

/* Hover Effects */
@media (hover: hover) and (pointer: fine) {
    .desktop-nav-link:hover .nav-menu-item-title {
        color: var(--color-hover-text);
    }

    .desktop-nav-link:hover .nav-menu-item-trailing-icon {
        transform: translateX(4px);
    }
}
