.hero-code-editor {
    width: 100%;
    max-width: 640px;
    min-width: 500px;

    background: var(--code-editor-background);
    border-radius: var(--radius-lg);

    overflow: hidden;

    display: flex;
    flex-direction: column;
}

.hero-code-editor-title {
    display: flex;
    align-items: center;
    gap: var(--space-sm);
}

.hero-code-editor-body {
    width: 100%;
    font-size: var(--font-size-sm);
    font-weight: var(--font-weight-medium );
    font-family: "JetBrains Mono", monospace;

    overflow: auto;
    scrollbar-color: var(--color-accent) transparent;
    scrollbar-width: thin;

    display: flex;
}

.hero-code-editor-code {
    padding: var(--space-sm) var(--space-md);
}

.hero-code-editor-titlebar {
    padding: var(--space-md);

    background: var(--code-editor-header);
    font-weight: var(--font-weight-medium);

    display: flex;
    gap: var(--space-lg);
    align-items: center;
}

.hero-code-editor-title {
    color: var(--color-text-light);
}

.hero-code-editor-line-numbers {
    padding: var(--space-sm) var(--space-md);

    color: var(--code-comment);

    display: flex;
    flex-direction: column;
}

.hero-code-editor-dots {
    display: flex;
    gap: var(--space-sm);
}

.hero-code-editor-dot {
    width: 12px;
    height: 12px;
    border-radius: 50%;
}

.code-cursor {
    display: inline-block;
    width: 2px;
    height: 1em;
    margin-left: 0.15em;

    background: var(--code-punctuation);

    vertical-align: -2px;

    animation: blink 1s steps(1) infinite;
}


.hero-code-editor-dot.red {
    background-color: var(--mac-red);
}

.hero-code-editor-dot.yellow {
    background-color: var(--mac-yellow);
}

.hero-code-editor-dot.green {
    background-color: var(--mac-green);
}

.code-editor-comment {
    color: var(--code-comment);
}

.code-editor-punctuation {
    color: var(--code-punctuation);
}

.code-editor-component {
    color: var(--code-component);
}

.code-editor-key {
    color: var(--code-key);
}

.code-editor-value {
    color: var(--code-value);
}

.code-editor-function {
    color: var(--code-function);
}

.code-editor-keyword {
    color: var(--code-keyword);
}

@keyframes blink {
    50% {
        opacity: 0;
    }
}

@media (max-width: 768px) {
    .hero-code-editor {
        aspect-ratio: 4/3;
        min-width: 0;
        border-radius: var(--radius-md);
    }
}

