.hero-section {
    min-height: 80vh;
}

.hero-name {
    font-size: var(--font-size-lg);
    font-weight: var(--font-weight-regular);
}

.hero-section-links {
    display: flex;
    gap: var(--gap-sm);
}

@media (max-width: 480px) {
    .hero-section-links {
        flex-direction: column;
    }
}

