.hero-link {
    padding: var(--space-md);
    width: fit-content;
    height: fit-content;

    border-radius: var(--radius-md);
    box-shadow: var(--surface-icon-wrapper);
    background-color: var(--portfolio-color-surface);

    display: flex;
    align-items: center;
    justify-content: center;
    gap: var(--space-sm);

    transition: background-color 0.2s ease;
}

.hero-link-icon {
    flex-shrink: 0;
    width: 28px;
    height: 28px;
}

.hero-link-label {
    align-self: center;
}

@media (hover: hover) and (pointer: fine) {
    .hero-link:hover {
        background-color: var(--color-hover-surface);
    }
}