.about-profile-item {
    display: flex;
    gap: var(--space-md);
}

.about-profile-item-icon-wrapper {
    flex-shrink: 0;
    display: flex;
}

.about-profile-item-icon {
    width: 28px;
    height: 28px;

    color: var(--color-text-muted);
}

.about-profile-item {
    color: var(--color-text-muted);
}
