.about-profile-card {
    padding: var(--space-lg);
    height: 100%;

    box-shadow: var(--surface-card);
    background-color: var(--color-surface);
    border-radius: var(--radius-md);

    display: flex;
    flex-direction: column;
    gap: var(--space-md);
}


.about-profile-avatar-icon {
    flex-shrink: 0;
    align-self: center;
    width: 64px;
    height: 64px;

    color: var(--color-accent);
}

.about-profile-list {
    display: flex;
    flex-direction: column;
    gap: var(--space-md);
}

.about-profile-list > li:not(:last-child) {
    padding-bottom: var(--space-md);

    border-bottom: 2px solid var(--color-border);
}