.uno-draw-pile-card {
    position: relative;
    width: var(--uno-card-width);
    height: var(--uno-card-height);
    padding: var(--uno-card-padding);

    justify-content: center;

    background: var(--uno-draw-pile-background-frame);
    border-radius: var(--uno-card-border-radius);

    box-shadow:
            inset 0 1px 0 rgb(255 255 255 / 0.1),
            inset 0 -1px 0 rgb(0 0 0 / 0.2),
            0 10px 24px rgb(0 0 0 / 0.4);

    display: flex;
}

.uno-draw-pile-button {
    height: 100%;
    width: 100%;
    border-radius: var(--uno-card-border-radius);
    background: var(--uno-draw-pile-background-card);

    transition: transform 0.2s ease-in-out;
    transform-style: preserve-3d;
    cursor: pointer;
}

.uno-draw-pile-card:hover {
    transform: translateY(-4px);
}