.project-hero-section {
    min-height: 80vh;
}

.project-page-grid, .project-section-title, .project-hero-description {
    grid-column: 1/-1;
    width: 100%;
    max-width: 560px;
    justify-self: center;
    text-align: start;

    justify-content: start;
    display: flex;
    flex-wrap: wrap;
    gap: var(--gap-md);
}

.project-badge-icons {
    padding: var(--padding-sm);
}

.project-link-card {
    padding: var(--padding-md);
    font-size: var(--font-size-sm);
    gap: var(--gap-md);
    border: 1px solid var(--slate-200);
    background-color: var(--slate-100);
    border-radius: var(--radius-sm);
    box-shadow: var(--shadow-sm);
    width: 160px;
    transition:
            background-color 0.2s ease,
            color 0.2s ease,
            border-color 0.2s ease,
            transform 0.3s ease;
    display: flex;
    justify-content: center;
}

.project-link-arrow {
    transition: transform 0.2s ease;
}

.project-link-card:hover .project-link-arrow {
    transform: translateX(4px);
}

.project-link-card:hover {
    background-color: var(--color-accent-hover);
    border-color: var(--color-accent-hover);
    color: var(--color-text-alt);
    text-decoration: none;
}

.project-feature-card {
    padding: var(--padding-md);
    gap: var(--gap-md);
    width: 100%;
    border: 1px solid var(--slate-200);
    border-radius: var(--radius-sm);
    box-shadow: var(--shadow-sm);
    background-color: var(--slate-50);
}

.project-screenshot-card {
    background: var(--slate-50);
    border: 1px solid var(--slate-200);
    transition: 0.2s ease;
    border-radius: var(--radius-sm);
    box-shadow: var(--shadow-sm);
    width: 120px;
    height: 120px;
    overflow: hidden;
}

.project-screenshot-card:hover {
    filter: brightness(1.03);
    cursor: pointer;
}

.project-screenshot-card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: top;
}

.project-screenshot-overlay {
    position: fixed;
    inset: 0;
    background: rgba(0,0,0,0.25);
    backdrop-filter: blur(1px);
    z-index: 2000;

    display: flex;
    justify-content: center;
    align-items: center;
}

.project-screenshot-overlay img {
    border: 1px solid var(--slate-200);
    box-shadow: var(--shadow-sm);
    max-width: 900px;
    max-height: 70vh;
}

.project-screenshot-modal {
    background: var(--slate-50);
    border: 1px solid var(--slate-200);
    box-shadow: var(--shadow-sm);
    overflow: hidden;
    padding: var(--padding-lg);
    max-width: 95vw;
    max-height: 95vh;

    display: flex;
    align-items: center;
    flex-direction: column;
    gap: var(--gap-md);
}

@media (max-width: 480px) {

    .project-page-grid {
        max-width: 300px;
    }

    .project-page-grid.screenshot-grid {
        justify-content: center;
    }


    .project-hero-description {
        max-width: 300px;
    }

    .project-section-title {
        font-size: var(--font-size-xl);
        justify-content: center;
        text-align: center;
    }

    .project-link-card,
    .project-screenshot-card {
        width: 100%;
        max-width: 260px;
    }

    .project-screenshot-card {
        height: 180px;
    }

    .project-screenshot-overlay img {
        max-width: 90vw;
        max-height: 60vh;
    }

}