.project-screenshot-card {
    width: 100%;
    aspect-ratio: 16/9;
    overflow: hidden;
}

.project-screenshot-card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: top;
}