.project-screenshot-carousel {
    position: relative;
    max-width: 1100px;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--space-lg);
}

.project-screenshot-carousel-button {
    position: absolute;
    top: 45%;
    width: 56px;
    height: 56px;

    border-radius: 50%;

    display: grid;
    place-items: center;

    transform: translateY(-50%);
    transition: background-color 0.2s ease-in-out;
    cursor: pointer;
}

.project-screenshot-carousel-previous-button {
    left: -60px;
}

.project-screenshot-carousel-next-button {
    right: -60px;
}

.project-screenshot-carousel-icon {
    width: 40px;
    height: 40px;

    color: var(--color-text-light);
}

.project-screenshot-carousel-dots {
    display: flex;
    gap: var(--space-md);
}

.project-screenshot-carousel-dot {
    width: 20px;
    height: 8px;

    background-color: rgb(255 255 255 / 0.15);
}

.project-screenshot-carousel-dot.active {
    background-color: var(--color-accent-light);
}

/* Hover Effects */
@media (hover: hover) and (pointer: fine) {
    .project-screenshot-carousel-button:hover {
        background: rgb(255 255 255 / 0.15);
    }
}

/* Media Queries */
@media (max-width: 1024px) {
    .project-screenshot-carousel {
        width: 100%;
    }
}

@media (max-width: 768px) {
    .project-screenshot-carousel-icon {
        height: 32px;
        width: 32px;
    }

    .project-screenshot-carousel-previous-button {
        left: 20px;
    }

    .project-screenshot-carousel-next-button {
        right: 20px;
    }
}