.action-area {
    position: fixed;
    top: 40%;
    left: 30%;
    z-index: 1000;

    pointer-events: none;
}

.action-area-message {
    position: absolute;
    text-align: center;

    font-weight: var(--font-weight-bold);
    font-size: var(--font-size-lg);

    animation: float-up 1.8s ease-in-out 1 forwards;
}

.action-color.red {
    color: var(--uno-card-red);
}

.action-color.blue {
    color: var(--uno-card-blue);
}

.action-color.green {
    color: var(--uno-card-green);
}

.action-color.yellow {
    color: var(--uno-card-yellow);
}

@keyframes float-up {
    0% {
        transform: translateY(0px);
        opacity: 0;
    }

    15% {
        opacity: 1;
    }

    80% {
        opacity: 1;
    }

    100% {
        transform: translateY(-120px);
        opacity: 0;
    }
}

@media (max-width: 1024px) {
    .action-area {
        left: 20%;
    }
}

@media (max-width: 768px) {
    .action-area {
        left: 10%;
    }
}

