.close-button {
    position: absolute;
    top: var(--padding-sm);
    right: var(--padding-sm);

    font-size: var(--font-size-lg);
    color: inherit;
    cursor: pointer;

    width: 40px;
    height: 40px;
    border-radius: var(--radius-sm);

    z-index: 1;

    transition: background-color 0.2s ease, transform 0.2s ease;
}

.close-button:hover {
    background: rgba(0, 0, 0, 0.05);
}