.icon-link {
    gap: var(--gap-sm);
    padding: var(--padding-sm);
    border-bottom: 1px solid var(--slate-200);
    overflow: hidden;
    transition:
            background-color 0.2s ease,
            color 0.2s ease,
            border-color 0.2s ease,
            transform 0.3s ease;
    display: flex;
    justify-content: flex-start;
    position: relative;
}

.icon-link:hover {
    text-decoration: none;
}

.icon-link::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    height: 1px;
    width: 100%;
    transform: scaleX(0);
    transform-origin: left;
    background-color: var(--color-text);
    text-decoration: none;
    transition: transform 0.2s ease;
}

.icon-link:hover::before {
    transform: scaleX(1);
}