.icon-left {
    transform: rotate(180deg);
}

.portfolio-carousel-button {
    height: 42px;
    width: 42px;
    border-radius: 50%;
    cursor: pointer;
    color: var(--color-text-muted);
    font-size: var(--font-size-2xl);

    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    transition: background 0.2s ease-in-out, opacity 0.2s ease-in-out;

    display: flex;
    align-items: center;
    justify-content: center;
}

.portfolio-carousel-button:disabled {
    opacity: 0;
    cursor: default;
}

.portfolio-carousel-button-left {
    left: -50px;
}

.portfolio-carousel-button-right {
    right: -50px;
}

.portfolio-carousel-light {
    color: var(--color-text-light);
}

.portfolio-carousel-dark {
    color: var(--color-text-muted);
}

/* Hover Effects */
@media (hover: hover) and (pointer: fine) {
    .portfolio-carousel-button:hover:not(:disabled) {
        background: rgb(255 255 255 / 0.15);
    }
}

@media (max-width: 480px) {
    .portfolio-carousel-button {
        display: none;
    }
}