.sliding-carousel {
    position: relative;
    width: 100%;
    min-width: 0;
}

.sliding-carousel-viewport {
    width: 100%;
    min-width: 0;
    border-right: 2px solid var(--color-border);
    border-left: 2px solid var(--color-border);

    overflow-x: auto;
    scrollbar-width: none;
    scroll-behavior: smooth;
    scroll-snap-type: x mandatory;
    --webkit-overflow-scrolling: touch;
}

.sliding-carousel-track::-webkit-scrollbar {
    display: none;
}

.sliding-carousel-icon {
    height: 32px;
    width: 32px;
}

.sliding-carousel-icon-left {
    transform: rotate(180deg);
}

/* Hover Effects */
@media (hover: hover) and (pointer: fine) {
    .sliding-carousel-button:not(:disabled) {
        opacity: 1;
    }

    .sliding-carousel-button:hover {
        background: var(--color-accent-soft);
    }

}

@media (max-width: 480px) {
    .sliding-carousel-button {
        display: none;
    }
}