.sliding-carousel {
    position: relative;
}

.sliding-carousel-viewport {
    border-right: 2px solid var(--color-border);
    border-left: 2px solid var(--color-border);
}

.sliding-carousel-track {
    overflow-x: auto;
    scrollbar-width: none;
    scroll-behavior: smooth;
    --webkit-overflow-scrolling: touch;
    padding: var(--space-md);
}

.sliding-carousel-track::-webkit-scrollbar {
    display: none;
}

.sliding-carousel-button {
    height: 42px;
    width: 42px;
    border-radius: 50%;
    cursor: pointer;
    color: var(--color-accent);
    font-size: var(--font-size-2xl);
    background: var(--color-surface);
    box-shadow: var(--surface-icon-wrapper);

    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    transition: background 0.2s ease-in-out, opacity 0.2s ease-in-out;

    display: flex;
    align-items: center;
    justify-content: center;
}

.sliding-carousel-button:disabled {
    cursor: default;
    opacity: 0;
}

.sliding-carousel-button-left {
    left: -50px;
}

.sliding-carousel-button-right {
    right: -50px;
}

.sliding-carousel-icon {
    height: 32px;
    width: 32px;
}

.sliding-carousel-icon-left {
    transform: rotate(180deg);
}

/* Hover Effects */
@media (hover: hover) and (pointer: fine) {
    .sliding-carousel-button:not(:disabled) {
        opacity: 1;
    }

    .sliding-carousel-button:hover {
        background: var(--color-accent-soft);
    }

}


@media (max-width: 480px) {
    .sliding-carousel-button {
        display: none;
    }
}