.stack-section-header {
    grid-column: 1/-1;
}

.stack-section-carousel {
    grid-column: 1/-1;
}

.stack-section-track {
    width: max-content;

    display: flex;
    padding: var(--space-sm);
    gap: var(--space-sm);
}