.stack-card {
    min-width: 180px;
    min-height: 200px;
    height: 100%;
    padding: var(--space-md);

    background-color: var(--color-surface);
    box-shadow: var(--surface-icon);
    border-radius: var(--radius-md);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: var(--space-md);
    text-align: center;
}

.stack-card-image-container {
    padding: var(--space-md);

    background-color: var(--color-background);
    border-radius: var(--radius-md);
    box-shadow: var(--surface-icon-wrapper);
}

.stack-card-image {
    width: 48px;
    height: 48px;
}

.stack-card-type {
    padding: var(--space-xs) var(--space-md);

    border-radius: var(--radius-pill);
    box-shadow: var(--surface-icon-wrapper);
}