.stack-section-header {
    grid-column: 1/-1;
}

.stack-section-carousel {
    grid-column: 1/-1;
}

.stack-section-track {
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: auto;
    gap: var(--space-sm);
}