.word-search-words {
    min-width: 200px;

    background: var(--word-search-panel);
    border: 1px solid var(--color-border);
    border-radius: var(--radius-sm);

    display: flex;
    flex-direction: column;
    gap: var(--space-xl);
    padding: var(--space-lg);
}

.word-search-word-list {
    font-size: var(--font-size-sm);
    font-weight: var(--font-weight-semibold);

    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: var(--space-md);
}

.word-search-word-list-item {
    padding-bottom: var(--space-sm);
    transition: color 0.25s ease, opacity 0.25s ease;
}

.word-list-title {
    align-self: center;

    font-weight: var(--font-weight-semibold);
    color: var(--color-accent);
}

.word-search-word-list-item {
    border-bottom: 1px solid var(--color-border);
}

.word-search-word-check {
    opacity: 0;
    display: none;
    transition: opacity 0.25s ease;
}

.found {
    color: var(--color-text);
}

.word-search-word-list-item.found-item .word-search-word-check {
    display: inline-block;
    opacity: 1;
}

.word-search-word-list-item .found {
    color: var(--color-text-subtle);
    text-decoration: line-through;
}

@media (max-width: 900px) {
    .word-search-word-list {
        grid-template-columns: repeat(3, 1fr);
    }
}