.uno-card-face {
    width: var(--uno-card-width);
    height: var(--uno-card-height);
    border-radius: 3px;
    border: var(--color-border) 1px solid;
    transition: transform 0.2s ease-in-out;
    position: relative;
    font-weight: bold;

    user-select: none;
    -webkit-user-select: none;
    font-family: "Rubik", "Arial Rounded MT Bold", "Trebuchet MS", Arial, sans-serif;

    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.uno-card-center-value {
    font-size: var(--uno-card-font-size);
    user-select: none;
}

.uno-card-top-value {
    position: absolute;
    top: 0;
    left: 8px;
    font-size: var(--uno-card-font-size-corner);
    opacity: 0.5;
}

.uno-card-bottom-value {
    position: absolute;
    bottom: 0;
    right: 8px;
    font-size: var(--uno-card-font-size-corner);
    opacity: 0.5;
}

.uno-card-face.red {
    background-color: var(--game-accent-red);
}

.uno-card-face.blue {
    background-color: var(--game-accent-blue);
}

.uno-card-face.green {
    background-color: var(--game-accent-green);
}

.uno-card-face.yellow {
    background-color: var(--game-accent-yellow);
}

.uno-card-face.wild {
    background: var(--game-accent-rainbow);
}

@media (max-width: 480px) {
    .uno-card-bottom-value, .uno-card-top-value {
        display: none;
    }
}
