.site-header {
    position: sticky;
    z-index: 100;
    top: 0;
    background: var(--color-background);
    border-bottom: 2px solid var(--color-border);
}

.site-main {
    background: var(--color-background);
}