.projects-section-header {
    grid-column: 1/-1;
}

.projects-section-carousel {
    grid-column: 1/-1;
}

.projects-section-track {
    width: max-content;
    padding: var(--space-sm);

    display: flex;
    gap: var(--space-sm);
}



