.projects-section-header {
    grid-column: 1/-1;
}

.projects-section-carousel {
    grid-column: 1/-1;
}

.projects-section-track {
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 300px;
    gap: var(--space-sm);
}



